*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.caja{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 20px;
    animation-name: animacion;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.23,.65,.85,.72);
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animacion {
    0%{background-color: skyblue;
    position: relative;
    top: 0;
    left: 0;}
    25%{background-color: lightgreen;
    position: absolute;
    top: 0;
    left: 400px;}
    50%{background-color: salmon ;
    position: absolute;
    top: 400px;
    left: 400px;}
    75%{background-color: purple;
    position: absolute;
    top: 400px;
    left: 0;}
    100%{background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;;}
}